@model List<Slider>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">ImagePath</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Slider slider in Model)
        {
            
            <tr>
                <th scope="row">@slider.Id</th>
                <td>@slider.Title</td>
                <td>@slider.Description</td>
                <td>@slider.ImagePath</td>
            </tr>
        }
    </tbody>
</table>